	body,tr,td{
       		font-size:11pt;
       	}
       	h1{
       		text-align-last: center;
       		font-size:20pt;
       		font-family: 楷体;
       		color:#7E8390;
       	}
       	#container
       	{
       		width:450px;
       		height: 650px;
       		background:aquamarine;
       		border:1px;
       		border-radius: 10px;
       		margin:0 0 0 300;

       	}
       	input,textarea{

       		border-radius:3px;
       		border:1px solid #DBDEE3;
       		
       	}
        .YY{
        	background-image: url(../../static/img/@2o.jpg);
        	background-size: cover;
       	}
       	tr{
       		margin:0 0 0 10px;
       		height:28px;
       	}
       	table{

       		margin-top:30px;
       		margin:0 auto;
       	}
       	#tips{
       		width:450px;
       		height:40px;
       		color:#f00;
       		size:14pt;
       		font-weight:bold;
       		text-align: center;
       	}